.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: $font-size-base;
  font-weight: 500;
  text-align: center;
  border-radius: $border-radius;
  transition: $transition-base;
  cursor: pointer;
  border: none;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: $white;

  &:hover:not(:disabled) {
    background-color: darken($primary-color, 10%);
  }
}

.btn-secondary {
  background-color: $secondary-color;
  color: $white;

  &:hover:not(:disabled) {
    background-color: darken($secondary-color, 10%);
  }
}

.btn-success {
  background-color: $success-color;
  color: $white;

  &:hover:not(:disabled) {
    background-color: darken($success-color, 10%);
  }
}

.btn-danger {
  background-color: $danger-color;
  color: $white;

  &:hover:not(:disabled) {
    background-color: darken($danger-color, 10%);
  }
}

.btn-small {
  padding: 0.5rem 1rem;
  font-size: $font-size-sm;
}

.btn-large {
  padding: 1rem 2rem;
  font-size: $font-size-lg;
}

.btn-block {
  width: 100%;
  display: block;
}
