.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-xxl;

  &.fullscreen {
    min-height: 100vh;
  }

  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid $bg-light;
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    &.medium {
      width: 50px;
      height: 50px;
    }
  }

  p {
    margin-top: $spacing-md;
    color: $text-muted;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
